
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background-general{
  background-image: url('/img/background.jpg');
  height: 100vh;
}



.custom-card,
.form-custom{
  background-image: url('/img/paperbackground.jpg');
}

.btn-custom{
  color: white;
  background-image: url('/img/btnbackground.jpg');
  border: 1px solid white;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
}

.btn-custom:hover{
  color: cornsilk;
  border-color: cornsilk;
  opacity: 0.9;
}

ul{
  list-style: none;
  padding: 0 ;
  
}

ul li{
  padding: 20px 0 5px 0;
  border-bottom: 2px solid lightgrey;
}

ul .fa-rectangle-xmark{
  float: right;
  font-size: 1.5rem;
  color: rgb(176, 5, 5);
  cursor: pointer;
}

ul .fa-square-check{
  float: right;
  font-size: 1.5rem;
  color: rgb(0, 102, 0);
  cursor: pointer;
}

.completed{
  color: green;
  text-decoration: line-through;
}

li span{
  cursor: pointer;
  font-weight: 600;font-size: 1.2rem;
}

.error-message{
  color: rgb(249, 1, 1);
  font-weight: 900;
  
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message h3 {
  background-color: rgba(18, 17, 17, 0.814);
  padding: 10px;
  border-radius: 10px;
}




 .container>h1{
  margin-bottom: 40px;
  
  color: white;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}